# 随着分布式版本管理工具的普及，大部分公司已经开始使用git来管理源代码了

# 比如使用github/gitlab,或者搭建自己的git服务器.一般来说，每个git项目都要有这样一个文件，它的作用就是告诉git版本工具：哪些文件不需要添加到版本管理中

# 在实际项目中，其实很多文件都不需要版本管理。比如说操作系统生成的一些文件、IDE的一些临时文件、日志文件、或者通过工具自动化生成的一些发布文件等等。这些都不需要版本管理。否则每一次提交版本，都会带有一些这样的垃圾文件，毫无意义

*~
.DS_Store
# Mac操作系统生成的垃圾文件，默认这两个文件夹是隐藏的

.idea
# 是webStorm的配置文件目录，存储着一些设置、打开文件的记录等等

node_modules
# 这个文件夹，存放了node.js引用的模块目录，不需要版本管理 -- 通过package.json来定义包管理，自行安装就可以

dist
# 这个文件夹，是工具自动化生成的一些发布文件的目录 -- 压缩代码后的发布版本