/* 通用css，在每个页面中都会进行引用 */

/******************
*  页面样式
*******************/

/* ==============
   基本默认值
   ============== */

html {
    /* 默认html中，1rem = 16px，62.5% = 10px */
    /* 而中文Chrome中，如果html的font-size: 62.5%; 那么 1rem = 12px */
    font-size: 62.5%;
    color: #222;
}

/* 选中文字的样式 */
::selection {
    background-color: #b3d4fc;
    text-shadow: none;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

/* ==============
   工具样式
   ============== */

.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}

.text-right {
    float: right !important;
}

.text-left {
    float: left !important;
}

.text-center {
    float: center !important;
}

.hide {
    display: none !important;
}

.show {
    display: block !important;
}

.invisible {
    visibility: hidden;
}

/* 隐藏文本 */
.text-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

/* 清除浮动 */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/* ==============
   浏览器更新提示
   ============== */

.browseupgrade {
    margin: 0;
    padding: 1rem;
    background-color: #ccc;
}

/* ==============
   自定义页面样式
   ============== */

body {
    font-size: 1.2rem;
    line-height: 1.5;
    background-color: #f7f7f7;
}

a {
    color: #666;
    text-decoration: none;
}

a:hover,
a:active {
    color: #0ae;
    text-decoration: underline;
}

/* 网站头部 */

header {
    width: 100%;
}

header .top {
    line-height: 3rem;
    padding: 0 1.5rem;
    color: #fff;
    background-color: #555;
    border-bottom: 1px #ecc000 solid;
}

header .top .tel {
    float: left;
}

header .top ul {
    float: right;
}

header .top ul li {
    display: inline-block;
    /* background-color: tomato; */
}

header .top ul li+li {
    border-left: 1px solid #999;
    margin-left: -4px;
}

header .top ul li a {
    display: inline-block;
    padding: 0 1.5rem;
    color: #fff;
}

@media only screen and (max-width: 50em) {
    header .top ul li a {
        padding: 0 1rem;
    }
}

@media only screen and (min-width: 30.0625em) and (max-width: 50em) {}

@media only screen and (max-width: 30em) {

    header .top .tel,
    header .top ul li:nth-child(3),
    header .top ul li:nth-child(4) {
        display: none;
    }
}

header .main {
    padding: 0;
}

header .main .brand {
    float: left;
    padding: 1rem 1.5rem;
    /* border: 1px solid tomato; */
}

header .main ul {
    float: right;
}

header .main ul li {
    display: inline-block;
    border-left: 1px solid #f0ede9;
}

header .main ul li a {
    display: inline-block;
    padding: 0 3rem;
    line-height: 5.5rem;
    font-size: 1.6rem;
    font-weight: bold;
    color: #7c7a65;
    text-decoration: none;
}

header .main ul li a:hover,
header .main ul li a:active,
header .mian ul li a.active {
    color: #ffb300;
    background-color: #f8f6f1;
}

/* 800px以下时 */
@media only screen and (max-width: 50em) {
    header .main .brand {
        /* border: 1px solid #000; */
        float: none;
        display: block;
        padding: 0;
        margin: 1.5rem auto 0.5rem;
        text-align: center;
    }

    header .main ul {
        /* border: 1px solid #000; */
        width: 100%;
        text-align: center;
    }

    header .main ul li {
        border: none;
    }

    header .main ul li a {
        padding: 0 1.5rem;
    }
}

/* 当小于480px时 */
@media only screen and (max-width: 30em) {
    header .main ul li {
        line-height: 3rem;
    }

    /* 隐藏第一个元素 */
    header .main ul li:first-child {
        display: none;
    }

    header .main ul li a {
        font-weight: normal;
        padding: 0 0.5rem;
    }
}

/* 网站主要内容 */

.container {
    width: 100%;
}

.transaction {
    width: 100%;
    background-color: #7c7365;
}

.trans-content {
    width: 90%;
    margin: 0 auto;
    font-size: 1.5rem;
}

.trans-data {
    float: left;
    padding: 1rem;
    text-align: left;
    /* border: 1px solid tomato; */
}

.trans-data span {
    display: inline-block;
    line-height: 3rem;
    color: #fff;
}

.trans-data span.trans-money {
    font-size: 2.2rem;
    color: #ff9900;
    letter-spacing: 3px;
    margin: 0 1rem;
    padding: 0 1rem;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 1px 2px 1px #333 inset;
}

.trans-report {
    text-align: right;
}

.trans-report a {
    display: inline-block;
    padding: 1rem;
    line-height: 3rem;
    color: #fff;
}

/* 媒体查询 */
/* 设备在800px以下时，页面所呈现的样式 */
@media only screen and (max-width: 50em) {

    /* 根据具体需求进行排版，慢慢调整 */
    .trans-data {
        padding: 1rem 0.5rem;
    }

    .trans-data span {
        font-size: 1.2rem;
    }

    .trans-data span.trans-money {
        font-size: 1.6rem;
        margin: 0;
        padding: 0;
        letter-spacing: inherit;
        box-shadow: none;
        background: transparent;
    }

    .trans-report a {
        font-size: 1.2rem;
    }
}

/* 当设备在480px以下时，页面所呈现的样式 */
@media only screen and (max-width: 30em) {

    /* 根据具体需求进行排版，慢慢调整 */
    .transaction {
        padding: 0.5rem 0;
    }

    .trans-data,
    .trans-report {
        /* border: 1px solid #000; */
        float: none;
        text-align: center;
    }

    .trans-data,
    .trans-report a {
        padding: 0;
    }
}

/* 滚动广告 */
.ad {
    display: block;
}

/* 平台特点 */
.feature {
    width: 90%;
    margin: 2rem auto;
    font-size: 0;
}

.feature .item {
    box-sizing: border-box;
    display: inline-block;
    width: calc(33.33333333333% - 1rem);
    padding: 1rem;
    font-size: 1.4rem;
    background-color: #fff;
    box-shadow: 0 0 4px #ccc;
}

.feature .item+.item {
    margin-left: 1.5rem;
}

.feature .item h3 {
    display: inline-block;
    width: 40%;
    margin: 0;
    padding: 0;
    vertical-align: top;
    font-size: 3.3rem;
    text-align: center;
    color: #f90;
}

.feature .item p {
    display: inline-block;
    width: 55%;
    margin: 0;
    padding: 0;
    color: #999;
}

@media only screen and (min-width: 30.0625rem) and (max-width: 50rem) {

    .feature .item h3,
    .feature .item p {
        /* border: 1px solid #000; */
        display: block;
        width: 100%;
        font-size: 2.6rem;
        text-align: center;
    }

    .feature .item p {
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 30rem) {
    .feature {
        width: 96%;
        margin: 1rem auto;
    }

    .feature .item {
        display: block;
        width: auto;
    }

    .feature .item+.item {
        margin: 1rem 0 0;
    }
}

/* 最新公告 */
.notice {
    width: 90%;
    margin: 2rem auto;
    font-size: 1.4rem;
    line-height: 3rem;
    background-color: #fff;
    box-shadow: 0 0 4px #ccc;
}

.notice a {
    float: left;
    display: block;
    width: 70%;
    margin-left: 2rem;
    text-decoration: none;
}

/* 使文字不换行 */
.notice a:first-child {
    /* 文本超出替换成省略号 */
    text-overflow: ellipsis;
    /* 溢出隐藏 */
    overflow: hidden;
    /* 禁止换行 */
    white-space: nowrap;
}

.notice a:first-child:before {
    content: "最新公告：\00a0\00a0";
    color: #aaa;
}

.notice a span {
    color: #999;
    font-size: 1.2rem;
    margin-right: 1rem;
}

.notice a.more {
    float: right;
    width: auto;
    margin-right: 2rem;
    color: #ff9900;
}

@media screen and (max-width: 30rem) {
    .notice {
        width: 96%;
        margin: 1rem auto;
        font-size: 1.2rem;
    }

    .notice a {
        margin-left: 1rem;
    }

    .notice a span {
        display: none;
    }
}

/* 产品列表 */

.product {
    /* border: 1px solid #000; */
    width: 90%;
    margin: 2rem auto;
    font-size: 1.4rem;
    background-color: #f5f5fa;
    border-top: 2px solid #ff9900;
    box-shadow: 0 0 4px #ccc;
}

.product h2 {
    /* border: 1px solid #000; */
    float: left;
    width: 20%;
    margin-top: 3rem;
    text-align: center;
    font-size: 2.4rem;
    font-weight: normal;
    color: #635c51;
}

.product h2 em {
    /* border: 1px solid #000; */
    display: block;
    margin-top: 1rem;
    font-size: 1.6rem;
}

.product h2 em:first-child {
    margin-top: 4rem;
}

.product .product-content {
    float: right;
    width: 79.5%;
    border-left: 1px solid #eee;
    background-color: #fff;
}

.product .product-content .item {
    width: 100%;
}

.product .product-content .item+.item {
    border-top: 1px solid #eee;
}

.product .product-content .item h3 {
    float: left;
    width: 30%;
    margin: 1.5rem 0;
    font-size: 1.4rem;
    font-weight: normal;
    text-align: center;
}

.product .product-content .item h3 em {
    margin-right: 0.5rem;
    font-size: 3.6rem;
    font-style: normal;
    color: #8b999d;
}

.product .product-content .item h3 i {
    display: block;
    font-size: 1.2rem;
    font-style: normal;
    color: #999;
}

.product .product-content .item .info {
    /* border: 1px solid #000; */
    float: left;
    width: 48%;
    padding: 1rem;
    border-left: 1px solid#eee;
    border-right: 1px solid #eee;
    font-size: 14px;
}

.product .product-content .item .info p {
    /* border: 1px solid #000; */
    float: left;
    display: block;
    text-align: center;
    width: 56%;
}

.product .product-content .item .info p:last-child {
    width: 40%;
}

.product .product-content .item .info p span {
    display: block;
    font-size: 2.4rem;
    color: #ff9900;
}

.product .product-content .item .info p span i {
    font-size: 1.2rem;
    font-style: normal;
    color: #999;
}

.product .product-content .item .buy {
    float: left;
    width: calc(22% - 4.4rem);
    padding: 1rem;
}

.product .product-content .item .buy a {
    /* border: 1px solid #000; */
    display: block;
    width: 90%;
    margin: 1.5rem auto;
    max-width: 12rem;
    line-height: 4rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #f90;
    border-radius: 5px;
}

.product .product-content .item .buy a:hover,
.product .product-content .item .buy a:active {
    background-color: #ffc468;
}

.product .product-content .item .buy a.disabled {
    background-color: #ccc !important;
    cursor: not-allowed;
}

@media only screen and (max-width: 50rem) {
    .product h2 {
        float: none;
        width: 100%;
        margin-top: 2rem;
        font-size: 2.2rem;
    }

    .product h2 em:first-child {
        margin-top: 0;
    }

    .product h2 em {
        display: inline;
        font-size: 1.2rem;
    }

    .product .product-content {
        /* border: 1px solid #000; */
        float: none;
        width: 100%;
    }

    .product .product-content .item h3 {
        margin-bottom: 0;
    }

    .product .product-content .item h3 em {
        font-size: 2.4rem;
    }

    .product .product-content .item .info {
        padding: 1rem 1rem 0;
        font-size: 1.2rem;
    }

    .product .product-content .item .info p span {
        font-size: 2rem;
    }

    .product .product-content .item .buy a {
        margin: 0.5rem auto;
    }
}

@media only screen and (max-width: 30rem) {
    .product h2 em:first-child::before {
        content: " ";
        display: table;
    }

    .product .product-content .item .info {
        float: right;
        width: 70%;
        padding: 1rem 0;
        border: none;
    }

    .product .product-content .item .info p span {
        font-size: 1.8rem;
    }

    .product .product-content .item .buy {
        clear: both;
        float: none;
        width: 100%;
        padding: 1rem 0 2rem;
    }

    .product .product-content .item .buy a {
        margin-top: 0;
        max-width: 26rem;
    }
}

/* 底部导航 */

.footer {
    /* border: 1px solid #000; */
    padding: 3rem 0;
    background-color: #fff;
    border-top: 2px solid #eee;
}

.footer-content {
    /* border: 1px solid #000; */
    width: 90%;
    margin: 0 auto;
}

.footer-content .brand {
    /* border: 1px solid #000; */
    float: left;
    display: block;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    width: 20%;
    height: 35px;
    background: url("../img/logo@1x.png") no-repeat left;
    background-size: 150px 35px;
}

.footer-content ul {
    /* border: 1px solid #000; */
    float: left;
    width: 15%;
}

.footer-content ul li {
    font-size: 1.4rem;
    line-height: 2.4rem;
}

.footer-content ul li.title {
    font-size: 1.6rem;
    line-height: 3rem;
}

@media only screen and (max-width: 50rem) {
    .footer-content .brand {
        display: none;
    }

    .footer-content ul {
        width: 20%;
        text-align: center;
    }

    .footer-content ul li {
        /* border: 1px solid #000; */
        font-size: 1.2rem;
        line-height: 2rem;
    }

    .footer-content ul li.title {
        font-size: 1.4rem;
        line-height: 2.5rem;
    }
}

@media only screen and (max-width: 30rem) {
    .footer-content {
        width: 98%;
    }

    .footer-content ul li.title {
        font-size: 1.2rem;
        line-height: 2rem;
    }
}

/* 底部 */

footer {
    width: 100%;
    padding: 3rem 0 5rem;
    background-color: #ededed;
}

footer ul {
    text-align: center;
}

footer ul li {
    display: inline-block;
}

footer ul li .icon {
    display: inline-block;
    text-indent: -999rem;
    margin-right: 1.5rem;
    background: url(https:i.alipayobjects.com/e/201307/jebmKcbrh.png) no-repeat;
    background-size: 466px 447px;
    overflow: hidden;
}

footer ul li .icon-zfywxk {
    width: 38px;
    height: 27px;
    background-position: -369px -45px;
}

footer ul li .icon-pcirk {
    width: 78px;
    height: 27px;
    background-position: -110px -96px;
}

footer ul li .icon-visayz {
    width: 36px;
    height: 27px;
    background-position: -426px -90px;
}

footer ul li .icon-vsjmfw {
    width: 63px;
    height: 27px;
    background-position: -401px -186px;
}

footer ul li .icon-wlgs {
    width: 22px;
    height: 27px;
    background-position: -48px -48px;
}

footer ul li .icon-rzcx {
    width: 75px;
    height: 27px;
    background-position: 0 -320px;
}

footer ul li .icon-gs {
    width: 30px;
    height: 30px;
    margin-right: 0;
    background: url(https://os.alipayobjects.com/rmsportal/lybcjqloSPjMAFg.png);
    background-size: 30px;
}

footer p {
    text-align: center;
    color: #999;
}

/* ===================
   打印样式
   =================== */
@media print {

    *,
    *::before,
    *::after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]::after {
        content: "("attr(href) ")";
    }

    abbr[title]::after {
        content: "("attr(href) ")";
    }

    /* 
     * 使用#和JavaScript的超链接不打印href
     */
    a[href^="#"]::after,
    a[href^="javascript:"]::after {
        content: " ";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        /* 针对Opera浏览器：避免打印时插入分页符 --- 打印时：在合适的断点处在断开比较好 */
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    /* 当元素内部发生分页的时候，必须在页面 底部/顶部 保留的最少行数 --- 保证标题和文字打印时不会分离开 */
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-inside: avoid;
    }
}
